<div class="row">
	<div class="large-1 columns"></div>
	<div class="large-10 columns">
		<div class="panel">
			<h1>Nerdvana</h1>
			<p>All is calm - state of alert, black special</p>
		</div>
	</div>
	<div class="large-1 columns"></div>
</div>
