<div class="row">
	<div class="large-1 columns"></div>
	<div class="large-10 columns">
		<div class="panel">
			<h1>Nerdvana / Things / Sofa <%= "/ #{@arm.titleize}" if @arm %></h1>
			<p>Welcome to the sofa!</p>

			<% if @arm %>

			<p>You're sitting by the <%= @arm %> arm, I see..</p>

			<% end %>

		</div>
	</div>
	<div class="large-1 columns"></div>
</div>
